html, body {
    background: #f4f4f4;
}

#wrapper {
    width: 1020px;
    background: white;
    padding: 0;
}

/* 头部导航 */
#header-nav {
    background: url("../img/nav_bg.jpg") repeat-x left top;
}

#header-nav ul {
    padding: 0 20px;
    font-size: 0;
}

#header-nav .item {
    width: 14.2857142%;
    text-align: center;
}

#header-nav .item a {
    padding: 0;
    color: white;
    line-height: 50px;
    font-size: 18px;
}

#header-nav .drop-menu {
    display: none;
    width: 100%;
    min-width: 100%;
    background: #539ddd;
    padding: 0;
    border-radius: 0;
    z-index: 999;
}

#header-nav .drop-menu ul {
    padding: 0;
}

#header-nav .drop-menu li {
    display: block;
}

#header-nav .drop-menu li a {
    border-bottom: 1px solid white;
}

#header-nav .drop-menu li:last-child a {
    border-bottom: 0;
}

#header-nav .item.active, #header-nav .item:hover, #header-nav .drop-menu li a:hover {
    background: url("../img/nav_bg_a.jpg") repeat-x left top;
}

#header-nav .nav .active a {
    font-weight: normal;
}

#header-nav .item:hover .drop-menu {
    display: block;
}

#news-swiper {
    width: 490px;
    height: 246px;
    margin: 0;
}

#news-swiper-list {
    height: 246px;
}

#news-swiper-list .item {
    margin-top: 8px;
}

#news-swiper-list .item a {
    display: block;
    padding: 6px 15px;
    border-radius: 8px;
    height: 50px;
    /*border: 1px solid transparent;*/
    overflow: hidden;
}

#news-swiper-list .item.active a, #news-swiper-list .item a:hover {
    background: url("../img/news_swiper_list_bg_a.jpg ") repeat-x left top;
}

#news-swiper-list .item h3 {
    color: #3397e6;
}

#news-swiper-list .item p {
    margin: 0;
    margin-top: 6px;
    line-height: 1em;
    color: #666;
}

#news-swiper-list .item.active h3, #news-swiper-list .item.active p {
    color: white;
}

/* 小板块 */
.info-board-header {
    box-sizing: content-box;
    line-height: 38px;
    height: 38px;
    background: url("../img/info_board_header_bg.jpg") repeat-x;
    font-size: 0;
}

.info-board-title {
    display: inline-block;
    width: 136px;
    height: 38px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-right: 30px;
    background: url("../img/info_board_title_bg.png") no-repeat center/contain;
}

.info-board-more {
    float: right;
    font-size: 14px;
    margin-right: 20px;
}

.nav-item-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #539ddd;
    border-radius: 50%;
    margin-right: 5px;
}

#org-introduce .info-board-content {
    background: url("../img/world_bg.png") no-repeat center;
}

#org-introduce .info-board-content > div, #xk-news .info-board-content > div {
    height: 320px;
}

#city-board ul.tab-nav {
    padding-left: 0;
}

#city-board .tab-nav li a {
    border-radius: 0;
}

#city-board .tab-nav li.active a {
    color: white;
    background: #539ddd;
}

#city-board .tab-body {
    min-height: 210px;
}

#partner-board .partner-item {
    float: left;
    width: 12.5%;
}

#work-news .info-board-content, #ppp-news .info-board-content {
    min-height: 162px;
}

/**
 * 分页导航
 */
.pagination {
    display: block;
    font-size: 0;
    text-align: center;
}

.pagination > span, .pagination > a {
    display: inline;
    padding: 5px 10px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ccc;
}

.pagination > span:hover, .pagination > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.pagination > .current {
    margin: 0 5px;
    border-color: transparent;
    color: #333;
}

.pagination > .prev, .pagination > .next {
    color: white;
    background: #539ddd;
}

.pagination > .prev:hover, .pagination > .next:hover {
    color: white;
    background: #539ddd;
}

.pagination > .current.prev, .pagination > .current.next {
    border-color: #ccc;
    margin: 0;
}

.pagination > a {
    margin: 0 5px;
}

/**
 * 面包屑导航
 */
.crumbs {
    display: inline-block;
}

.crumbs-con {
    line-height: 34px;
    padding-left: 20px;
    font-size: 14px;
}

.crumbs-con a {
    color: #333;
}

.crumbs-con a:hover {
    text-decoration: underline;
}