<!--顶部-->
<div class="bar bg-back padding-top-bottom-small text-gray">
    <div class="container">
        <span>欢迎来到广州杰美服装有限公司网站</span>
        <a href="javascript:;" class="win-favorite float-right text-sub">收藏本站</a>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="clearfix padding-top-bottom-big">
            <div class="float-left">
                <div class="float-left">
                    <img src="img/brand.png">
                </div>
                <div class="float-left padding-top-bottom">
                    <div class="separator float-left">
                        <s></s>
                    </div>
                    <div class="float-left">
                        <h2 class="text-large">国际时尚服装定制</h2>
                        <h4 class="text-big text-dot">企业团体制服定制专家</h4>
                    </div>
                </div>
            </div>
            <div class="float-right padding-top-bottom">
                <div class="text-right text-main text-big">服务热线</div>
                <div class="text-dot">
                    <img class="ver-top" src="img/tel.png">
                    <span class="text-large padding-left">020-66359500</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-wrap">
    <div class="container">
        <ul class="nav nav-inline">
            <li class="active"><a href="#">网站首页</a></li>
            <li><a href="#">公司介绍</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">新闻中心</a></li>
            <li><a href="#">高级定制</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>
<div class="banner" data-pointer="1" data-interval="6" data-style="border-red">
    <div class="carousel">
        <div class="item"><img class="img-fluid" src="img/banner.jpg"></div>
        <div class="item"><img class="img-fluid" src="img/banner.jpg"></div>
        <div class="item"><img class="img-fluid" src="img/banner.jpg"></div>
    </div>
</div>