<div class="news-list">
    {{# for(var i = 0, len = d.length; i < len; i++){ var t = d[i]; }}
    <div class="news-item padding-bottom">
        <div class="padding-top-bottom border-bottom border-main border-dashed">
            <a href="news-detail.html?id={{t.id}}">·{{t.title}}</a>
            <span class="float-right padding-right">{{t.time}}</span>
        </div>
        <div class="padding-top-bottom clearfix">
            <div class="x5"><img class="img-fluid" src="{{t.img}}"></div>
            <div class="x7 padding-left">{{t.content}}</div>
        </div>
    </div>
    {{# } }}
</div>